.btn-success{
    color: white !important;
}
.mat-column-SNo{
    flex: 0 0 60px;
}
.mat-header-cell {
    font-size: 14px;
    font-weight: 900;
}
.mat-column-details{
    flex: 0 0 400px;
}
.mat-column-countryName, .mat-column-createdDate{
    flex: 0 0 180px;
}
.mat-column-actions, .mat-column-status{
    flex: 0 0 100px;
    text-align: center;
}