<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Airlines / Hotels Contents</h1>
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Airlines / Hotels Contents</li>
            </ol>
        </nav>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h1 class="text-center box-title">Airlines / Hotels Contents</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="example-container mat-elevation-z8">
                    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                            No Data Found On The Server
                        </div>
                    </div>
                    <div class="table-filter" ng2-sticky>
                        <mat-form-field>
                            <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search" [(ngModel)]="searchValue">
                            <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue='';applyFilter('')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <button mat-button mat-raised-button routerLink="/addEditAirlineHotelContent" class="pull-right btn-success">New Content</button>
                    </div>
                    <mat-table #table [dataSource]="parsePageContents" matSort matSortActive="title" matSortDisableClear matSortDirection="asc">
                        <ng-container matColumnDef="sNo">
                            <mat-header-cell *matHeaderCellDef>S. No.</mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index;">{{paginator.pageSize * ((paginator.pageIndex + 1) - 1) + i + 1}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef>Page Title</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="urlLink">
                            <mat-header-cell *matHeaderCellDef>Url Link</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.urlLink}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="contentType">
                            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.contentType == 1 ? 'Airlines' : 'Hotels'}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="sortOrder">
                            <mat-header-cell *matHeaderCellDef>Sort Order</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.sortOrder}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.status == 1 ? 'Enabled' : 'Disabled'}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                            <mat-cell *matCellDef="let element ">
                                <a (click)="editPageContent(element , i)">
                                    <mat-icon class="mat-icon material-icons">edit</mat-icon>
                                </a>
                                <a (click)="deletePageContent(element , i)">
                                    <mat-icon class="mat-icon material-icons">delete</mat-icon>
                                </a>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100, 150, 200, 500, 1000]" [showFirstLastButtons]="true"
                        [length]="resultsLength">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<app-footer></app-footer>