<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar sidebar-sticky">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="../assets/img/avatar5.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Akif Khan</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="">
        <a routerLink="/">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-home"></i>
          <span>My Properties</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/newProperty"><i class="fa fa-circle-o"></i> New Property</a></li>
          <li><a routerLink="/properties"><i class="fa fa-circle-o"></i> My Properties</a></li>
        </ul>
      </li> -->
      <li class="treeview">
        <a href="#">
          <mat-icon>flight</mat-icon>
          <span>Flights</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/flightSearch">
              <i class="fa fa-circle-o"></i> Flight Search</a>
          </li>
          <li>
            <a routerLink="/posts">
              <i class="fa fa-circle-o"></i> OPtion 2</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>hotel</mat-icon>
          <span>Hotels</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/newProperty">
              <i class="fa fa-circle-o"></i> New Property</a>
          </li>
          <li>
            <a routerLink="/properties">
              <i class="fa fa-circle-o"></i> Properties List</a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <mat-icon>home</mat-icon>
          <span>Umrah</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/umrah">
              <mat-icon>hotel</mat-icon> Custom Packages</a>
          </li>
          <li>
            <a routerLink="/design-ubc-pkg">
              <mat-icon>list</mat-icon> Design Package</a>
          </li>
          <li>
            <a routerLink="/add-edit-umrah-hotels">
              <mat-icon>hotel</mat-icon> Add / Edit Hotels</a>
          </li>
          <li>
            <a routerLink="/umrah-hotels-list">
              <mat-icon>list</mat-icon> Hotels List</a>
          </li>
          <li>
            <a routerLink="/umrah-transport">
              <mat-icon>commute</mat-icon> Transport</a>
          </li>
          <li>
            <a routerLink="/umrah-terms-conditions">
              <mat-icon>speaker_notes</mat-icon> Terms & Conditions</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>pie_chart</mat-icon>
          <span>Accounts</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/pages">
              <i class="fa fa-circle-o"></i> Chart of Accounts</a>
          </li>
          <li>
            <a routerLink="/posts">
              <i class="fa fa-circle-o"></i> Sale / Refund</a>
          </li>
          <li>
            <a routerLink="/posts">
              <i class="fa fa-circle-o"></i> Vouchers</a>
          </li>
          <li>
            <a routerLink="/posts">
              <i class="fa fa-circle-o"></i> Cash Book</a>
          </li>
          <li>
            <a routerLink="/posts">
              <i class="fa fa-circle-o"></i> General Ledger</a>
          </li>
          <li>
            <a routerLink="/posts">
              <i class="fa fa-circle-o"></i> Receivable & Payables</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>language</mat-icon>
          <span>CMS</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/airlines-hotels-contents">
              <i class="fa fa-circle-o"></i> Airlines / Hotels Contents</a>
          </li>
          <li>
            <a routerLink="/flight-contents">
              <mat-icon>flight</mat-icon> Flight Contents</a>
          </li>
          <li>
            <a routerLink="/hotel-contents">
              <mat-icon>hotel</mat-icon> Hotel Contents</a>
          </li>
          <li>
            <a routerLink="/navbar-contents">
              <i class="fa fa-circle-o"></i> Navbar Contents</a>
          </li>
          <li>
            <a routerLink="/sections">
              <i class="fa fa-circle-o"></i> Sections</a>
          </li>
          <li>
            <a routerLink="/visa">
              <i class="fa fa-circle-o"></i> Visa</a>
          </li>
          <li>
            <a routerLink="/tours">
              <i class="fa fa-circle-o"></i> Tours</a>
          </li>
          <li>
            <a routerLink="/pages">
              <i class="fa fa-circle-o"></i> Pages</a>
          </li>
          <li>
            <a routerLink="/deals">
              <i class="fa fa-circle-o"></i> Deals</a>
          </li>
          <li>
            <a routerLink="/scroller">
              <i class="fa fa-circle-o"></i>Scroller</a>
          </li>
          <li>
            <a routerLink="/ticket-report">
              <i class="fa fa-circle-o"></i>Ticket Report</a>
          </li>
          <li>
            <a routerLink="/call-back-queries">
              <i class="fa fa-circle-o"></i>Queries / Call Back</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>perm_identity</mat-icon>
          <span>Agents</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/registerUser">
              <i class="fa fa-circle-o"></i> Register User</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Users List</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>group</mat-icon>
          <span>Users Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/registerUser">
              <i class="fa fa-circle-o"></i> Register User</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Users List</a>
          </li>
        </ul>
      </li>
      <li class="header">REPORTS</li>
      <li class="treeview">
        <a href="#">
          <mat-icon>insert_chart</mat-icon>
          <span>Financial</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/registerUser">
              <i class="fa fa-circle-o"></i> Trial Balance</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Balance Sheet</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Income Statement</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Expence Report</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>attach_money</mat-icon>
          <span>Sales & Refund</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/registerUser">
              <i class="fa fa-circle-o"></i> Sale Summary</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Sale Register</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Sale Statement</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> PSA Report</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> IATA Report</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>assignment</mat-icon>
          <span>Customer Reports</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/registerUser">
              <i class="fa fa-circle-o"></i> Customer Ageing</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Customer Sale Summary</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Customer Sale Details</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>insert_chart</mat-icon>
          <span>Profit & Loss</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/registerUser">
              <i class="fa fa-circle-o"></i> Profit & Loss Statement</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Month Wise Profit & Loss</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <mat-icon>account_circle</mat-icon>
          <span>Admin Reports</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/registerUser">
              <i class="fa fa-circle-o"></i> Edit History</a>
          </li>
          <li>
            <a routerLink="/users">
              <i class="fa fa-circle-o"></i> Opening Balance History</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>